
<!doctype html>
<html lang="en">
  <head>
    {% load staticfiles%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{blog.title}}</title>
    <link rel="icon" href="{% static 'icon.png'%}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body style="background-color: #1abc9c; color: #ffffff;">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131025415-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-131025415-1');
</script>

    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand self" href="{% url 'home'%}"><img width="120" height="30" src="{% static 'LogoMakr_5VDqc3.png' %}" style="position: relative;"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% static 'Harshil_Resume_Final3.pdf'%}" target="_blank">RESUME</a></li>
                    <li><a href="{% url 'allblogs'%}">BLOG</a></li>
                    <li><a href="mailto:harshil.srivastava758@gmail.com">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container bg-1" style="padding-top:40px;padding-bottom:75px">
          <h1 class="text-center "style="color:white;">{{blog.title}}</h1>
          <p class="text-center"style="color:white;">{{blog.pub_date}}</p>
          <img class="img-responsive img-center" src="{{blog.image.url}}" height="100%" width="100%">
          <br>
          <hr width="80px">
          <p style="font-size:20px">{{blog.body}}</p>
    </div>

    <footer class="container-fluid bg-4 text-center">
            <p>© Harshil Srivastava {% now 'Y' %}</p>
    </footer>
  </body>
</html>
